.mw-form-related-link-container {
	text-align: center;

	& + & {
		margin-top: 0.5em;
	}
}

.mw-company-login-container {
	text-align: center;
	margin-bottom: 0.5em;

	.mw-company-login-message {
		font-size: 1.15em;
		font-weight: 600;
		margin: 0;
	}
}